* {
    margin: 0;
    padding: 0;
}

.feedback-container {
    width: 40%;
    margin-left: 15%;
    margin-block: 20px;
    padding: 10px;
    border: 1px solid black;
}

.feedback-container h1 {
    font-weight: bold;
    margin-left: 0px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#feedback-message {
    width: 96%;
    padding: 8px;
}

.captcha-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#captcha {
    flex: 2;
    margin-right: 8px;
    margin-top: 10px;
    
}

#captcha-img {
    flex: 1;
    height: 40px;
    width: 40%;
    margin-top: -8px;
}

#feedback-button {
    background-color: #0E046E;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.side-cta {
    margin-left: 50%;
}

.green {
    color: #4caf50;
}

.date {
    color: grey;
}

.blog-container {
    max-width: 30%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 10px;
}

@media (max-width: 999px) {
    .blog-container {
        display: none;
    }
}

@media (max-width: 1090px) {
    .blog-container .blog-item:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1530px) {
    .blog-container .blog-item:nth-child(5) {
        display: none;
    }
}

.blog-container h2 {
    margin: 0 auto;
}

.blog-item {
    margin-bottom: 5px;
}