html {
    background-color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tos-title {
   color: black;
   margin-left: 10px;
   margin-top: 5px;
}

#tos-container {
    margin-top: -15px;
    margin-inline: 10px;
    padding: 2px 20px 3px 0px;
    background-color: white;
    font-size: 15px;
    border: 1px solid black;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 2px;
    margin-block: .8em;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 2px;
}